<!DOCTYPE html>
<html>
<head>
        <script>
            if (document.location.hash) document.location.hash = "";
     </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    @*<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />*@
    <title>Integrated Port Management System</title>
    @Scripts.Render("~/bundles/MobilePlugins")
    @Scripts.Render("~/bundles/KnockoutScripts")
    <script src="~/Scripts/Application/IpmsRoot.js"></script>
    <script src="~/Scripts/Lib/toastr.js"></script>
    <script src="~/Scripts/Lib/toastr.min.js"></script>
    <link href="~/Content/Styles/mobile-style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Styles/mobile-zebra-dialog.css" rel="stylesheet" />
    <link href="~/Content/Styles/kendo.default.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Styles/kendo.common.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Styles/toastr.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Styles/toastr.less" rel="stylesheet" type="text/css">
    <link href="~/Content/Styles/toastr.min.css" rel="stylesheet" type="text/css">
</head>

<body class="bg">
    <header>
        <img src="~/Content/Images/header.jpg" class="logo">
    </header>
    <section class="ipmidpart">
        <div class="page-content-wrapper ">
            <div id="divPageContent" class="page-content">
                @RenderBody()
            </div>
        </div>
    </section>
    @RenderSection("JavaScript", required: false)
    @RenderSection("scripts", required: false)
    <script>
        IPMSROOT.rootPath = '@Url.Content("~")';
        var isAuthenticated = "@(WebSecurity.IsAuthenticated)";
        jQuery(document).ready(function () {
            App.init();
            @RenderSection("ko_apply", required: true);
        });
    </script>
</body>
</html>
